REACT_APP_CMS_API=https://api-dev.i-test.vn/v2
REACT_APP_LOGIN_URL=https://esso-cms-dev.dtpsoft.vn/login
REACT_APP_CLIENT_APP_ID=k2myvnZ4RpOgkoJ6wdxkvg03Pxw69LA7
REACT_APP_SITE_DOMAIN=.dtpsoft.vn
REACT_APP_ESSO_API=https://esso-api-dev.dtpsoft.vn
REACT_APP_ACCESS_TOKEN_KEY=esso-access-token-dev
REACT_APP_REFRESH_TOKEN_KEY=esso-refresh-token-dev
REACT_APP_CDN_IMAGE_URL=https://cdn-dev.dtpsoft.vn/i-test-dev