.description-field {
    [class~="ant-form-item-row"] {
        height: 100%;
    }

    [class~="ant-form-item-control-input"] {
        height: 100%;
    }

    [class~="ant-form-item-control-input-content"] {
        height: 100%;
    }
}